.advantages {
  position: relative;

  padding: 109px 0;
  padding-bottom: 115px;

  background-color: $color-solitude;

  @include vp-1023 {
    padding: 90px 0 96px;
  }
  @include vp-767 {
    padding: 55px 0 65px;
    overflow: hidden;
  }

  & img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    @include vp-767 {
      width: auto;
      max-width: fit-content;

      object-fit: fill;
    }
    object-fit: cover;
  }

  & h2 {
    margin: 0;
    margin-bottom: 50px;

    text-align: center;

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 6px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      line-height: 26px;
    }

    & br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }

  & p {
    margin: 0;

    font-size: 14px;
    line-height: 20px;
  }
}

.advantages__wrapper {
  position: relative;
  z-index: 2;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: -20px;
  padding: 0;

  list-style: none;

  @include vp-1023 {
    margin: -15px;
  }
  @include vp-767 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.advantages__item {
  flex-basis: 360px;
  margin: 20px;
  padding: 30px;

  background-color: $color-alice-blue;

  @include vp-1023 {
    max-width: 206px;
    margin: 15px;
    padding: 35px 16px 22px 20px;
  }
  @include vp-767 {
    flex-basis: 250px;
    width: 100%;
    max-width: 290px;
  }

  & svg {
    @include vp-1023 {
      margin-bottom: 25px;
    }
  }
}

.advantages__icon {
  &--ship {
    width: 27px;
    height: 32px;

    @include vp-1023 {
      width: 21px;
      height: 26px;
    }
  }

  &--check {
    width: 38px;
    height: 21px;

    @include vp-1023 {
      width: 33px;
      height: 19px;
    }
  }

  &--boat {
    width: 42px;
    height: 15px;

    @include vp-1023 {
      width: 38px;
      height: 13px;
    }
  }
}

.advantages__icon-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 42px;
  height: 32px;
  margin-bottom: 20px;

  @include vp-1023 {
    margin-bottom: 5px;
  }
  @include vp-767 {
    margin-bottom: 3px;
  }
}
