.page-footer {
  padding: 50px 0;

  background-color: $color-tangaroa;

  @include vp-1023 {
    padding: 50px 0;
  }
  @include vp-767 {
    padding: 40px 0;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__logo-link {
  flex-shrink: 0;
  align-self: start;
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }
  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.page-footer__wrapper-nav {
  justify-content: flex-start;

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.page-footer__wrapper-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 117px;
  margin: -16.5px;
  margin-left: auto;

  @include vp-1023 {
    min-width: 87px;
    margin: -11.5px;
    margin-left: auto;
  }
  @include vp-767 {
    margin: -11.5px;
  }
}

.page-footer__wrapper-social a {
  display: inline-block;
  margin: 16.5px;

  vertical-align: baseline;

  @include vp-1023 {
    margin: 11.5px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
